<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="hs-device-heading" jhiTranslate="gatewayApp.samplingDevice.home.createOrEditLabel">Create or edit a Device</h2>

            <div>
                <hs-alert-error></hs-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.samplingDevice.name" for="field_name" [ngbTooltip]="'gatewayApp.samplingDevice.help.name' | translate">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.samplingDevice.description" for="field_description" [ngbTooltip]="'gatewayApp.samplingDevice.help.description' | translate">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.samplingDevice.type" for="field_type" [ngbTooltip]="'gatewayApp.samplingDevice.help.type' | translate">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="PEN">{{ 'gatewayApp.DeviceType.PEN' | translate }}</option>
                        <option value="HEART_RATE_METER">{{ 'gatewayApp.DeviceType.HEART_RATE_METER' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.samplingDevice.plugin" for="field_plugin" [ngbTooltip]="'gatewayApp.samplingDevice.help.plugin' | translate">Plugin</label>
                    <input type="text" class="form-control" name="plugin" id="field_plugin"
                           formControlName="plugin"/>
                    <div *ngIf="editForm.get('plugin')!.invalid && (editForm.get('plugin')!.dirty || editForm.get('plugin')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('plugin')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Plugin' }">
                            This field should follow pattern for "Plugin".
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
