<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dot">
            <h2><span jhiTranslate="gatewayApp.samplingDot.detail.title">Dot</span> {{ dot.id }}</h2>

            <hr>

            <hs-alert-error></hs-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.samplingDot.timestamp" [ngbTooltip]="'gatewayApp.samplingDot.help.timestamp' | translate">Timestamp</span></dt>
                <dd>
                    <span>{{ dot.timestamp }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingDot.x" [ngbTooltip]="'gatewayApp.samplingDot.help.x' | translate">X</span></dt>
                <dd>
                    <span>{{ dot.x }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingDot.y" [ngbTooltip]="'gatewayApp.samplingDot.help.y' | translate">Y</span></dt>
                <dd>
                    <span>{{ dot.y }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingDot.type" [ngbTooltip]="'gatewayApp.samplingDot.help.type' | translate">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gatewayApp.DotType.' + dot.type }}">{{ dot.type }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingDot.tiltX" [ngbTooltip]="'gatewayApp.samplingDot.help.tiltX' | translate">Tilt X</span></dt>
                <dd>
                    <span>{{ dot.tiltX }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingDot.tiltY" [ngbTooltip]="'gatewayApp.samplingDot.help.tiltY' | translate">Tilt Y</span></dt>
                <dd>
                    <span>{{ dot.tiltY }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingDot.twist" [ngbTooltip]="'gatewayApp.samplingDot.help.twist' | translate">Twist</span></dt>
                <dd>
                    <span>{{ dot.twist }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingDot.pressure" [ngbTooltip]="'gatewayApp.samplingDot.help.pressure' | translate">Pressure</span></dt>
                <dd>
                    <span>{{ dot.pressure }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingDot.protocol">Protocol</span></dt>
                <dd>
                    <div *ngIf="dot.protocolId">
                        <a [routerLink]="['/protocol', dot.protocolId, 'view']">{{ dot.protocolId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dot', dot.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
