<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pBMetadata">
            <h2><span jhiTranslate="gatewayApp.pbanalysisPBMetadata.detail.title">PB Metadata</span> {{ pBMetadata.id }}</h2>

            <hr>

            <hs-alert-error></hs-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.pbanalysisPBMetadata.key" [ngbTooltip]="'gatewayApp.pbanalysisPBMetadata.help.key' | translate">Key</span></dt>
                <dd>
                    <span>{{ pBMetadata.key }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.pbanalysisPBMetadata.value" [ngbTooltip]="'gatewayApp.pbanalysisPBMetadata.help.value' | translate">Value</span></dt>
                <dd>
                    <span>{{ pBMetadata.value }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.pbanalysisPBMetadata.analysis">Analysis</span></dt>
                <dd>
                    <div *ngIf="pBMetadata.analysisId">
                        <a [routerLink]="['/pb-analysis', pBMetadata.analysisId, 'view']">{{ pBMetadata.analysisId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pb-metadata', pBMetadata.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
