<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="hs-pb-metadata-heading" jhiTranslate="gatewayApp.pbanalysisPBMetadata.home.createOrEditLabel">Create or edit a PB Metadata</h2>

            <div>
                <hs-alert-error></hs-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBMetadata.key" for="field_key" [ngbTooltip]="'gatewayApp.pbanalysisPBMetadata.help.key' | translate">Key</label>
                    <input type="text" class="form-control" name="key" id="field_key"
                           formControlName="key"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBMetadata.value" for="field_value" [ngbTooltip]="'gatewayApp.pbanalysisPBMetadata.help.value' | translate">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBMetadata.analysis" for="field_analysis">Analysis</label>
                    <select class="form-control" id="field_analysis" name="analysis" formControlName="analysisId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pBAnalysisOption.id" *ngFor="let pBAnalysisOption of pbanalyses; trackBy: trackById">{{ pBAnalysisOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
