<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="protocol">
            <h2><span jhiTranslate="gatewayApp.samplingProtocol.detail.title">Protocol</span> {{ protocol.id }}</h2>

            <hr>

            <hs-alert-error></hs-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.samplingProtocol.layout" [ngbTooltip]="'gatewayApp.samplingProtocol.help.layout' | translate">Layout</span></dt>
                <dd>
                    <span>{{ protocol.layout }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingProtocol.device" [ngbTooltip]="'gatewayApp.samplingProtocol.help.device' | translate">Device</span></dt>
                <dd>
                    <span>{{ protocol.device }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingProtocol.pageNumber" [ngbTooltip]="'gatewayApp.samplingProtocol.help.pageNumber' | translate">Page Number</span></dt>
                <dd>
                    <span>{{ protocol.pageNumber }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingProtocol.sample">Sample</span></dt>
                <dd>
                    <div *ngIf="protocol.sampleId">
                        <a [routerLink]="['/sample', protocol.sampleId, 'view']">{{ protocol.sampleId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/protocol', protocol.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
