<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.samplingProtocol.home.title">Protocols</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-protocol" [routerLink]="['/protocol/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.samplingProtocol.home.createLabel">
            Create a new Protocol
            </span>
        </button>
    </h2>

    <hs-alert-error></hs-alert-error>

    <hs-alert></hs-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="protocols?.length === 0">
        <span jhiTranslate="gatewayApp.samplingProtocol.home.notFound">No protocols found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="protocols?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="layout"><span jhiTranslate="gatewayApp.samplingProtocol.layout">Layout</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="device"><span jhiTranslate="gatewayApp.samplingProtocol.device">Device</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pageNumber"><span jhiTranslate="gatewayApp.samplingProtocol.pageNumber">Page Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sampleId"><span jhiTranslate="gatewayApp.samplingProtocol.sample">Sample</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let protocol of protocols ;trackBy: trackId">
                    <td><a [routerLink]="['/protocol', protocol.id, 'view']">{{ protocol.id }}</a></td>
                    <td>{{ protocol.layout }}</td>
                    <td>{{ protocol.device }}</td>
                    <td>{{ protocol.pageNumber }}</td>
                    <td>
                        <div *ngIf="protocol.sampleId">
                            <a [routerLink]="['/sample', protocol.sampleId , 'view']" >{{ protocol.sampleId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/protocol', protocol.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/protocol', protocol.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(protocol)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="protocols?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
