<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="hs-protocol-heading" jhiTranslate="gatewayApp.samplingProtocol.home.createOrEditLabel">Create or edit a Protocol</h2>

            <div>
                <hs-alert-error></hs-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.samplingProtocol.layout" for="field_layout" [ngbTooltip]="'gatewayApp.samplingProtocol.help.layout' | translate">Layout</label>
                    <input type="number" class="form-control" name="layout" id="field_layout"
                           formControlName="layout"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.samplingProtocol.device" for="field_device" [ngbTooltip]="'gatewayApp.samplingProtocol.help.device' | translate">Device</label>
                    <input type="number" class="form-control" name="device" id="field_device"
                           formControlName="device"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.samplingProtocol.pageNumber" for="field_pageNumber" [ngbTooltip]="'gatewayApp.samplingProtocol.help.pageNumber' | translate">Page Number</label>
                    <input type="number" class="form-control" name="pageNumber" id="field_pageNumber"
                           formControlName="pageNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.samplingProtocol.sample" for="field_sample">Sample</label>
                    <select class="form-control" id="field_sample" name="sample" formControlName="sampleId">
                        <option *ngIf="!editForm.get('sampleId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="sampleOption.id" *ngFor="let sampleOption of samples; trackBy: trackById">{{ sampleOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('sampleId')!.invalid && (editForm.get('sampleId')!.dirty || editForm.get('sampleId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('sampleId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
