<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="annotationType">
            <h2><span jhiTranslate="gatewayApp.samplingAnnotationType.detail.title">Annotation Type</span> {{ annotationType.id }}</h2>

            <hr>

            <hs-alert-error></hs-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.samplingAnnotationType.name" [ngbTooltip]="'gatewayApp.samplingAnnotationType.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ annotationType.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingAnnotationType.label" [ngbTooltip]="'gatewayApp.samplingAnnotationType.help.label' | translate">Label</span></dt>
                <dd>
                    <span>{{ annotationType.label }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingAnnotationType.description" [ngbTooltip]="'gatewayApp.samplingAnnotationType.help.description' | translate">Description</span></dt>
                <dd>
                    <span>{{ annotationType.description }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingAnnotationType.emotional" [ngbTooltip]="'gatewayApp.samplingAnnotationType.help.emotional' | translate">Emotional</span></dt>
                <dd>
                    <span>{{ annotationType.emotional }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingAnnotationType.weight" [ngbTooltip]="'gatewayApp.samplingAnnotationType.help.weight' | translate">Weight</span></dt>
                <dd>
                    <span>{{ annotationType.weight }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingAnnotationType.color" [ngbTooltip]="'gatewayApp.samplingAnnotationType.help.color' | translate">Color</span></dt>
                <dd>
                    <span>{{ annotationType.color }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/annotation-type', annotationType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
