<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projectPermission">
            <h2><span jhiTranslate="gatewayApp.projectProjectPermission.detail.title">Project Permission</span> {{ projectPermission.id }}</h2>

            <hr>

            <hs-alert-error></hs-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.projectProjectPermission.user" [ngbTooltip]="'gatewayApp.projectProjectPermission.help.user' | translate">User</span></dt>
                <dd>
                    <span>{{ projectPermission.user }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.projectProjectPermission.permission" [ngbTooltip]="'gatewayApp.projectProjectPermission.help.permission' | translate">Permission</span></dt>
                <dd>
                    <span>{{ projectPermission.permission }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.projectProjectPermission.project">Project</span></dt>
                <dd>
                    <div *ngIf="projectPermission.projectId">
                        <a [routerLink]="['/project', projectPermission.projectId, 'view']">{{ projectPermission.projectId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project-permission', projectPermission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
