<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="hs-project-permission-heading" jhiTranslate="gatewayApp.projectProjectPermission.home.createOrEditLabel">Create or edit a Project Permission</h2>

            <div>
                <hs-alert-error></hs-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.projectProjectPermission.user" for="field_user" [ngbTooltip]="'gatewayApp.projectProjectPermission.help.user' | translate">User</label>
                    <input type="number" class="form-control" name="user" id="field_user"
                           formControlName="user"/>
                    <div *ngIf="editForm.get('user')!.invalid && (editForm.get('user')!.dirty || editForm.get('user')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('user')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('user')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.projectProjectPermission.permission" for="field_permission" [ngbTooltip]="'gatewayApp.projectProjectPermission.help.permission' | translate">Permission</label>
                    <input type="number" class="form-control" name="permission" id="field_permission"
                           formControlName="permission"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.projectProjectPermission.project" for="field_project">Project</label>
                    <select class="form-control" id="field_project" name="project" formControlName="projectId">
                        <option *ngIf="!editForm.get('projectId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="projectOption.id" *ngFor="let projectOption of projects; trackBy: trackById">{{ projectOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('projectId')!.invalid && (editForm.get('projectId')!.dirty || editForm.get('projectId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('projectId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
