<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.projectProjectPermission.home.title">Project Permissions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project-permission" [routerLink]="['/project-permission/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.projectProjectPermission.home.createLabel">
            Create a new Project Permission
            </span>
        </button>
    </h2>

    <hs-alert-error></hs-alert-error>

    <hs-alert></hs-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="projectPermissions?.length === 0">
        <span jhiTranslate="gatewayApp.projectProjectPermission.home.notFound">No projectPermissions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="projectPermissions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.projectProjectPermission.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.projectProjectPermission.permission">Permission</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.projectProjectPermission.project">Project</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projectPermission of projectPermissions ;trackBy: trackId">
                    <td><a [routerLink]="['/project-permission', projectPermission.id, 'view']">{{ projectPermission.id }}</a></td>
                    <td>{{ projectPermission.user }}</td>
                    <td>{{ projectPermission.permission }}</td>
                    <td>
                        <div *ngIf="projectPermission.projectId">
                            <a [routerLink]="['/project', projectPermission.projectId , 'view']" >{{ projectPermission.projectId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/project-permission', projectPermission.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/project-permission', projectPermission.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(projectPermission)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
