<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.pbanalysisPBBurst.home.title">PB Bursts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pb-burst" [routerLink]="['/pb-burst/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.pbanalysisPBBurst.home.createLabel">
            Create a new PB Burst
            </span>
        </button>
    </h2>

    <hs-alert-error></hs-alert-error>

    <hs-alert></hs-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pBBursts?.length === 0">
        <span jhiTranslate="gatewayApp.pbanalysisPBBurst.home.notFound">No pBBursts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pBBursts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duration"><span jhiTranslate="gatewayApp.pbanalysisPBBurst.duration">Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pauseDuration"><span jhiTranslate="gatewayApp.pbanalysisPBBurst.pauseDuration">Pause Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startX"><span jhiTranslate="gatewayApp.pbanalysisPBBurst.startX">Start X</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startY"><span jhiTranslate="gatewayApp.pbanalysisPBBurst.startY">Start Y</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endX"><span jhiTranslate="gatewayApp.pbanalysisPBBurst.endX">End X</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endY"><span jhiTranslate="gatewayApp.pbanalysisPBBurst.endY">End Y</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="distance"><span jhiTranslate="gatewayApp.pbanalysisPBBurst.distance">Distance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="avgSpeed"><span jhiTranslate="gatewayApp.pbanalysisPBBurst.avgSpeed">Avg Speed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span jhiTranslate="gatewayApp.pbanalysisPBBurst.text">Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="analysisId"><span jhiTranslate="gatewayApp.pbanalysisPBBurst.analysis">Analysis</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let pBBurst of pBBursts ;trackBy: trackId">
                    <td><a [routerLink]="['/pb-burst', pBBurst.id, 'view']">{{ pBBurst.id }}</a></td>
                    <td>{{ pBBurst.duration }}</td>
                    <td>{{ pBBurst.pauseDuration }}</td>
                    <td>{{ pBBurst.startX }}</td>
                    <td>{{ pBBurst.startY }}</td>
                    <td>{{ pBBurst.endX }}</td>
                    <td>{{ pBBurst.endY }}</td>
                    <td>{{ pBBurst.distance }}</td>
                    <td>{{ pBBurst.avgSpeed }}</td>
                    <td>{{ pBBurst.text }}</td>
                    <td>
                        <div *ngIf="pBBurst.analysisId">
                            <a [routerLink]="['/pb-analysis', pBBurst.analysisId , 'view']" >{{ pBBurst.analysisId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pb-burst', pBBurst.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pb-burst', pBBurst.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pBBurst)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
