<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="hs-pb-burst-heading" jhiTranslate="gatewayApp.pbanalysisPBBurst.home.createOrEditLabel">Create or edit a PB Burst</h2>

            <div>
                <hs-alert-error></hs-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBBurst.duration" for="field_duration" [ngbTooltip]="'gatewayApp.pbanalysisPBBurst.help.duration' | translate">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                    <div *ngIf="editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty || editForm.get('duration')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duration')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('duration')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBBurst.pauseDuration" for="field_pauseDuration" [ngbTooltip]="'gatewayApp.pbanalysisPBBurst.help.pauseDuration' | translate">Pause Duration</label>
                    <input type="number" class="form-control" name="pauseDuration" id="field_pauseDuration"
                           formControlName="pauseDuration"/>
                    <div *ngIf="editForm.get('pauseDuration')!.invalid && (editForm.get('pauseDuration')!.dirty || editForm.get('pauseDuration')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pauseDuration')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('pauseDuration')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBBurst.startX" for="field_startX" [ngbTooltip]="'gatewayApp.pbanalysisPBBurst.help.startX' | translate">Start X</label>
                    <input type="number" class="form-control" name="startX" id="field_startX"
                           formControlName="startX"/>
                    <div *ngIf="editForm.get('startX')!.invalid && (editForm.get('startX')!.dirty || editForm.get('startX')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startX')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('startX')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBBurst.startY" for="field_startY" [ngbTooltip]="'gatewayApp.pbanalysisPBBurst.help.startY' | translate">Start Y</label>
                    <input type="number" class="form-control" name="startY" id="field_startY"
                           formControlName="startY"/>
                    <div *ngIf="editForm.get('startY')!.invalid && (editForm.get('startY')!.dirty || editForm.get('startY')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startY')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('startY')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBBurst.endX" for="field_endX" [ngbTooltip]="'gatewayApp.pbanalysisPBBurst.help.endX' | translate">End X</label>
                    <input type="number" class="form-control" name="endX" id="field_endX"
                           formControlName="endX"/>
                    <div *ngIf="editForm.get('endX')!.invalid && (editForm.get('endX')!.dirty || editForm.get('endX')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endX')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('endX')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBBurst.endY" for="field_endY" [ngbTooltip]="'gatewayApp.pbanalysisPBBurst.help.endY' | translate">End Y</label>
                    <input type="number" class="form-control" name="endY" id="field_endY"
                           formControlName="endY"/>
                    <div *ngIf="editForm.get('endY')!.invalid && (editForm.get('endY')!.dirty || editForm.get('endY')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endY')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('endY')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBBurst.distance" for="field_distance" [ngbTooltip]="'gatewayApp.pbanalysisPBBurst.help.distance' | translate">Distance</label>
                    <input type="number" class="form-control" name="distance" id="field_distance"
                           formControlName="distance"/>
                    <div *ngIf="editForm.get('distance')!.invalid && (editForm.get('distance')!.dirty || editForm.get('distance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('distance')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('distance')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBBurst.avgSpeed" for="field_avgSpeed" [ngbTooltip]="'gatewayApp.pbanalysisPBBurst.help.avgSpeed' | translate">Avg Speed</label>
                    <input type="number" class="form-control" name="avgSpeed" id="field_avgSpeed"
                           formControlName="avgSpeed"/>
                    <div *ngIf="editForm.get('avgSpeed')!.invalid && (editForm.get('avgSpeed')!.dirty || editForm.get('avgSpeed')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('avgSpeed')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('avgSpeed')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBBurst.text" for="field_text" [ngbTooltip]="'gatewayApp.pbanalysisPBBurst.help.text' | translate">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                           formControlName="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.pbanalysisPBBurst.analysis" for="field_analysis">Analysis</label>
                    <select class="form-control" id="field_analysis" name="analysis" formControlName="analysisId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pBAnalysisOption.id" *ngFor="let pBAnalysisOption of pbanalyses; trackBy: trackById">{{ pBAnalysisOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
