<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="text">
            <h2><span jhiTranslate="gatewayApp.samplingText.detail.title">Text</span> {{ text.id }}</h2>

            <hr>

            <hs-alert-error></hs-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.samplingText.text" [ngbTooltip]="'gatewayApp.samplingText.help.text' | translate">Text</span></dt>
                <dd>
                    <span>{{ text.text }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingText.sample">Sample</span></dt>
                <dd>
                    <div *ngIf="text.sampleId">
                        <a [routerLink]="['/sample', text.sampleId, 'view']">{{ text.sampleId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/text', text.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
