<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="project">
            <h2><span jhiTranslate="gatewayApp.projectProject.detail.title">Project</span> {{ project.id }}</h2>

            <hr>

            <hs-alert-error></hs-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.projectProject.name" [ngbTooltip]="'gatewayApp.projectProject.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ project.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.projectProject.description" [ngbTooltip]="'gatewayApp.projectProject.help.description' | translate">Description</span></dt>
                <dd>
                    <span>{{ project.description }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.projectProject.image" [ngbTooltip]="'gatewayApp.projectProject.help.image' | translate">Image</span></dt>
                <dd>
                    <div *ngIf="project.image">
                        <a (click)="openFile(project.imageContentType!, project.image)">
                            <img [src]="'data:' + project.imageContentType + ';base64,' + project.image" style="max-width: 100%;" alt="project image"/>
                        </a>
                        {{ project.imageContentType }}, {{ byteSize(project.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.projectProject.startDate" [ngbTooltip]="'gatewayApp.projectProject.help.startDate' | translate">Start Date</span></dt>
                <dd>
                    <span>{{ project.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.projectProject.endDate" [ngbTooltip]="'gatewayApp.projectProject.help.endDate' | translate">End Date</span></dt>
                <dd>
                    <span>{{ project.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.projectProject.status" [ngbTooltip]="'gatewayApp.projectProject.help.status' | translate">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gatewayApp.ProjectStatus.' + project.status }}">{{ project.status }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.projectProject.owner" [ngbTooltip]="'gatewayApp.projectProject.help.owner' | translate">Owner</span></dt>
                <dd>
                    <span>{{ project.owner }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project', project.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
