<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="layout">
            <h2><span jhiTranslate="gatewayApp.samplingLayout.detail.title">Layout</span> {{ layout.id }}</h2>

            <hr>

            <hs-alert-error></hs-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.samplingLayout.name" [ngbTooltip]="'gatewayApp.samplingLayout.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ layout.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingLayout.description" [ngbTooltip]="'gatewayApp.samplingLayout.help.description' | translate">Description</span></dt>
                <dd>
                    <span>{{ layout.description }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingLayout.width" [ngbTooltip]="'gatewayApp.samplingLayout.help.width' | translate">Width</span></dt>
                <dd>
                    <span>{{ layout.width }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingLayout.height" [ngbTooltip]="'gatewayApp.samplingLayout.help.height' | translate">Height</span></dt>
                <dd>
                    <span>{{ layout.height }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingLayout.marginLeft" [ngbTooltip]="'gatewayApp.samplingLayout.help.marginLeft' | translate">Margin Left</span></dt>
                <dd>
                    <span>{{ layout.marginLeft }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingLayout.marginRight" [ngbTooltip]="'gatewayApp.samplingLayout.help.marginRight' | translate">Margin Right</span></dt>
                <dd>
                    <span>{{ layout.marginRight }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingLayout.marginTop" [ngbTooltip]="'gatewayApp.samplingLayout.help.marginTop' | translate">Margin Top</span></dt>
                <dd>
                    <span>{{ layout.marginTop }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingLayout.marginBottom" [ngbTooltip]="'gatewayApp.samplingLayout.help.marginBottom' | translate">Margin Bottom</span></dt>
                <dd>
                    <span>{{ layout.marginBottom }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.samplingLayout.url" [ngbTooltip]="'gatewayApp.samplingLayout.help.url' | translate">Url</span></dt>
                <dd>
                    <span>{{ layout.url }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/layout', layout.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
