<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="label">
            <h2><span jhiTranslate="gatewayApp.projectLabel.detail.title">Label</span> {{ label.id }}</h2>

            <hr>

            <hs-alert-error></hs-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.projectLabel.name" [ngbTooltip]="'gatewayApp.projectLabel.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ label.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.projectLabel.color" [ngbTooltip]="'gatewayApp.projectLabel.help.color' | translate">Color</span></dt>
                <dd>
                    <span>{{ label.color }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.projectLabel.project">Project</span></dt>
                <dd>
                    <div *ngIf="label.projectId">
                        <a [routerLink]="['/project', label.projectId, 'view']">{{ label.projectId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/label', label.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
