<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pBAnalysis">
            <h2><span jhiTranslate="gatewayApp.pbanalysisPBAnalysis.detail.title">PB Analysis</span> {{ pBAnalysis.id }}</h2>

            <hr>

            <hs-alert-error></hs-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.pbanalysisPBAnalysis.sample" [ngbTooltip]="'gatewayApp.pbanalysisPBAnalysis.help.sample' | translate">Sample</span></dt>
                <dd>
                    <span>{{ pBAnalysis.sample }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.pbanalysisPBAnalysis.threshold" [ngbTooltip]="'gatewayApp.pbanalysisPBAnalysis.help.threshold' | translate">Threshold</span></dt>
                <dd>
                    <span>{{ pBAnalysis.threshold }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pb-analysis', pBAnalysis.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
